<section class="blog docx">

<h2>Blog entry from a .docx (Word) document</h2>

<p>This blog post was written in Word and saved as .docx. The document gets automatically converted into HTML by the WEIRD build process.</p>
<h3>Supported</h3>

<p>Conversion is pretty quick and efficient, with many common elements supported, including footnotes.[^1]</p>
<p>This is a normal paragraph. </p>
<ul>
<li>Unordered</li>
<li>Lists</li>
<li>Work</li>
<li>Too</li>
</ul>
<p><b>Bold</b>, <i>italics</i>, <u>underlining</u>, and <s>strikethrough</s>, and <sup>sup </sup>and <sub>sub</sub> effects work.</p>
<ol>
<li>Ordered</li>
<li>Lists</li>
<li>Work</li>
</ol>
<h4>Headings work, also.</h4>

<p>Finally, images work, too, but with some limitations. Here’s one Stable Diffusion produced when prompted for <i>the most complex image ever known to humankind 3d photorealistic render</i>. Weird.</p>
<p><a href="/">Links</a> are fine. I mean, this one doesn’t actually work because it’s simply a placeholder without actual href, but the link is there. Just add a working url. </p>
<p><img alt="" src="../../images/blog/docx-blog/image1.jpeg" /></p>
<p>Image credits: Stable Diffusion 2.1. </p>
<h3>Limitations</h3>

<p>There are, however, some limitations. </p>
<ul>
<li>Complex formats do not transfer through.</li>
<li>Tables get absolutely ignored.</li>
<li>Images CANNOT have ALT text (which is very annoying because Word adds it automatically).</li>
</ul>
<p>There are no plans to improve this. All the above work with .docm (Word) documents. Think of .docx conversion as a fast lane process for documents not absolutely needing complex things. Use .docm when there is a need for anything not supported with a .docx document.</p>
<p><strong>Notes</strong></p>
<ol>
<li>This is a footnote.</li>
</ol></section>