<section class="blog markdown">

<h2>Blog entry from a MARKDOWN document</h2>
<p>This blog post was written in markdown. It exists as an .md file which gets converted into HTML as part of WEIRD's build process.</p>
<h3>Headings and subheadings work</h3>
<p>Unordered lists also work:</p>
<ul>
<li>Item</li>
<li>Item</li>
<li>Item</li>
</ul>
<p>You can thrown in ordered lists, too:</p>
<ol>
<li>Item 1</li>
<li>Item 2</li>
<li>Item 3</li>
</ol>
<p>Words and segments can be formatted <strong>bold</strong> and <em>italics</em>.</p>
<p>As is usual with markdown, you can also use HTML tags, such as <u>underlining</u>, <s>strikethrough</s>, and <sup>sup</sup> and <sub>sub</sub> effects.[^1]</p>
<h3>What about images?</h3>
<p>Yes, images work!</p>
<p>You can include is using standard markdown format and it will get converted into HTML during the build.</p>
<p>As example, here’s an image of an AI chicken crossing the road. We legit cannot remember the prompt we used to generate it, so you're going to have to live without it.</p>
<p><img alt="AI chicken crossing the road" src="../images/blog/ai-chicken.jpeg" /> </p>
<p>Fig 1. An AI chicken in the middle of a road, as if crossing it. Stable Diffusion. </p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h4>Notes</h4>
<ol>
<li>Footnotes not programmatically supported, but you can use lists.</li>
</ol>