<section class="pages markdown">

<p><em>(This is how our homepage would look if we had opted to use MARKDOWN for it. Obviously, the markdown document can contain HTML.)</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>What is WEIRD?</h2>
<div class='right'>
  <img src='../images/pages/pyjs.webp' alt='Image containing the logos of Python and JavaScript.' />
</div>

<p>WEIRD is a multi-modal web framework.</p>
<p>It converts documents (HTML, markdown, or even Word documents) into websites through a series of Python-meets-JS shenanigans.</p>
<p>Yeah, we get it. WEIRD is weird. But it can easily produce surprisingly good (and fairly sustainable) websites from little more than just a few documents (even Word documents!).</p>
<p>Download and try WEIRD from its <a href="https://github.com/jbolns/WEIRD">dedicated GitHub repo</a>.</p>
<p><em>If we were better at marketing, we'd say something like </em><em>'blogging reinvented'</em><em>.</em></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Key features</h2>
<h3>Multi-modal</h3>
<p>Pages and blogs can be created in HTML, markdown, and Word. It is also possible to combine formats.</p>
<p>Potential benefits:</p>
<ul>
<li>Small-to-medium websites in no time.</li>
<li>Easier to integrate dumps form data analytics.</li>
<li>Rapid publishing of long-format documents.</li>
</ul>
<h3>A solid foundation</h3>
<p>Customisation is possible but not necessary. Without additional customisation, WEIRD produces a site like this one.</p>
<p>Potential benefits:</p>
<ul>
<li>Small-to-medium websites in no time, even from Word documents.</li>
<li>Painless way to launch project websites.</li>
<li>A way for Python developers to easily create full websites.</li>
</ul>
<h3>Expandable</h3>
<p>WEIRD can be expanded and customised using CSS/JS, jQuery (pre-installed), Bootstrap (pre-installed), and other libraries (upon import).</p>
<p>Potential benefits:</p>
<ul>
<li>An interpretable framework.</li>
<li>Multiple design approaches possible.</li>
<li>Imagination is the limit.</li>
</ul>
<h3>Fast!</h3>
<p>Depending on how you approach it, WEIRD websites can be incredibly fast and fairly sustainable.</p>
<p>Potential benefits:</p>
<ul>
<li>Improved user experience.</li>
<li>Outstanding performance metrics.</li>
<li>Excellent sustainability scores.</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><img alt="Abstract image depicting a spectrum of colourful possibilities." src="../images/pages/spectrum.webp" /></p>
<h2>Use cases</h2>
<h3>Small to medium websites.</h3>
<p>WEIRD generates static websites, even from Word documents. These are excellent for SME websites, portfolios, project sites, event websites, documentation pages, marketing websites, and landing pages.</p>
<h3>Painless blogging</h3>
<p>Since WEIRD is multi-modal, you can design key sections using HTML, CSS, JS, and markdown, yet blog easily by simply uploading Word documents.</p>
<h3>Sustainable websites</h3>
<p>WEIRD can produce more sustainable websites that emit less carbon emissions than the average. WEIRD is therefore optimal for anyone interested in the environment and/or demonstrating a commitment to sustainability.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>License</h2>
<p>WEIRD is a product by <a href="https://www.polyzentrik.com/">polyzentrik.com</a>, released under an Apache 2.0 open source license.</p>
<p>We kindly ask you to leave the branding in the footer intact or <a href="https://www.polyzentrik.com/gateway/">make a small voluntary payment via our payments gateway</a> if you wish to remove it.</p>